<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<nav class="navbar navbar-light bg-light nav-style">
	<ul class="nav" style="width: 100%;">
		<li class="nav-item active">
			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/ads">Ads</a>
		</li>
		<li  class="nav-item">
			<a class="nav-link" href="/ads/create">Create Ad</a>
		</li>
		<th:block sec:authorize="isAnonymous()">
			<li class="nav-item ml-auto">
				<a class="nav-link" href="/sign-up">Sign up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Login</a>
			</li>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<li class="nav-item">
				<a class="nav-link" href="">Your ads</a>
			</li>
		</th:block>
	<th:block>
		<form th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0 ml-auto">
			<button class="btn my-2 my-sm-0" style="margin-top: 8px; color: red">Logout</button>
		</form>
	</th:block>
	</ul>
</nav>
</html>